Repository microsoft/DirectXTex: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-Test.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, CMake*, build/*.cmake, build/*.in, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, DirectXTex/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Auxiliary/*EXR*, Auxiliary/*JPEG*, Auxiliary/*PNG*
  .azuredevops/pipelines/DirectXTex-GitHub.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub.yml, DirectXTex/Shaders/CompileShaders.cmd

Update CoPilot instructions and update ADO pipelines (#627)
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTex-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTex-OneFuzz.yml
  .github/copilot-instructions.md
  .gitignore
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Upgrade to CMake 3.21
  CMakeLists.txt
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Update readme
  README.md
Due: none

Fix for MinGW 15.2
  Texconv/texconv.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fix for MinGW 15.2
  DirectXTex/DirectXTexUtil.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Return E_POINTER instead of E_INVALIDARG for internal only cases
  DirectXTex/DirectXTexDDS.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Upgrade to CMake 3.21 (#631)
  CMakeLists.txt
  CMakePresets.json
  DirectXTex/DirectXTexDDS.cpp
  DirectXTex/DirectXTexUtil.cpp
  README.md
  Texconv/texconv.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Update for GDK October 2025 changes
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj
  DirectXTex/DirectXTex_GXDK_PC_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Minor code review
  DirectXTex/DirectXTexDDS.cpp
  DirectXTex/DirectXTexTGA.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Code review from code coverage
  DirectXTex/DirectXTexHDR.cpp
  DirectXTex/DirectXTexWIC.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Minor code review
  DirectXTex/DirectXTexTGA.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

More minor code review
  DirectXTex/DirectXTexMisc.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Minor code review
  DirectXTex/DirectXTexConvert.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Code review
  DirectXTex/DirectXTexNormalMaps.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add extra diag
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj
  DirectXTex/DirectXTex_GXDK_PC_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Code review for invalid args
  DirectXTex/DirectXTexConvert.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Minor code review
  DirectXTex/DirectXTexResize.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update CMake for new layout
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

More validation checks
  DirectXTex/DirectXTexCompress.cpp
  DirectXTex/DirectXTexCompressGPU.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

More code review
  DirectXTex/DirectXTexD3D11.cpp
  DirectXTex/DirectXTexD3D12.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update for GDK October 2025 changes (#634)
  CMakeLists.txt
  DirectXTex/DirectXTexCompress.cpp
  DirectXTex/DirectXTexCompressGPU.cpp
  DirectXTex/DirectXTexConvert.cpp
  DirectXTex/DirectXTexD3D11.cpp
  DirectXTex/DirectXTexD3D12.cpp
  DirectXTex/DirectXTexDDS.cpp
  DirectXTex/DirectXTexHDR.cpp
  DirectXTex/DirectXTexMisc.cpp
  DirectXTex/DirectXTexNormalMaps.cpp
  DirectXTex/DirectXTexResize.cpp
  DirectXTex/DirectXTexTGA.cpp
  DirectXTex/DirectXTexWIC.cpp
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj
  DirectXTex/DirectXTex_GXDK_PC_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Rework libpng Auxiliary support to address numerous problems
  .gitignore
  Auxiliary/DirectXTexPNG.cpp
  Auxiliary/DirectXTexPNG.h
  Texassemble/texassemble.cpp
  Texconv/texconv.cpp
  Texdiag/texdiag.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Add October 2025 GDK new layout x64+Xbox projects
  .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTex-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub.yml
  .azuredevops/templates/DirectXTex-build-gdkx.yml
  DirectXTex/DirectXTex_GDKX_2022.vcxproj
  DirectXTex/DirectXTex_GDKX_2022.vcxproj.filters
  DirectXTex_GDKX_2022.sln
  build/LogInfo.targets
Due: .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-Test.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

Fix writing 16bpp
  Auxiliary/DirectXTexPNG.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Rework libpng Auxiliary support to address numerous problems (#636)
  .gitignore
  Auxiliary/DirectXTexPNG.cpp
  Auxiliary/DirectXTexPNG.h
  Texassemble/texassemble.cpp
  Texconv/texconv.cpp
  Texdiag/texdiag.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Add October 2025 GDK new layout x64+Xbox projects (#637)
  .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTex-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub.yml
  .azuredevops/templates/DirectXTex-build-gdkx.yml
  DirectXTex/DirectXTex_GDKX_2022.vcxproj
  DirectXTex/DirectXTex_GDKX_2022.vcxproj.filters
  DirectXTex_GDKX_2022.sln
  build/LogInfo.targets
Due: .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-Test.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

Rework libjpeg Auxiliary supports to address numerous problems
  Auxiliary/DirectXTexJPEG.cpp
  Auxiliary/DirectXTexJPEG.h
  Texassemble/texassemble.cpp
  Texconv/texconv.cpp
  Texdiag/texdiag.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Code review for non-turbo path
  Auxiliary/DirectXTexJPEG.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Readme update
  README.md
Due: none

Rework libjpeg Auxiliary supports to address some problems (#638)
  Auxiliary/DirectXTexJPEG.cpp
  Auxiliary/DirectXTexJPEG.h
  README.md
  Texassemble/texassemble.cpp
  Texconv/texconv.cpp
  Texdiag/texdiag.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Add flag to write BGRX DDS content using R8G8B8 24bpp legacy DX9
  DirectXTex/DirectXTex.h
  DirectXTex/DirectXTexDDS.cpp
  Texconv/texconv.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fix lint issue
  DirectXTex/DirectXTexDDS.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add flag to write BGRX DDS content using R8G8B8 24bpp legacy DX9 (#641)
  DirectXTex/DirectXTex.h
  DirectXTex/DirectXTexDDS.cpp
  Texconv/texconv.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

October 27, 2025
  .nuget/directxtex_desktop_2019.nuspec
  .nuget/directxtex_desktop_win10.nuspec
  .nuget/directxtex_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXTex/DirectXTex.h
  README.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

October 27, 2025 (#642)
  .nuget/directxtex_desktop_2019.nuspec
  .nuget/directxtex_desktop_win10.nuspec
  .nuget/directxtex_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXTex/DirectXTex.h
  README.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Code review fix for PNG Auxiliary
  Auxiliary/DirectXTexPNG.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Code review fix for PNG Auxiliary (#643)
  Auxiliary/DirectXTexPNG.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Removed ARM64 from VS 2019 projects
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj
  DirectXTex_Desktop_2019_Win10.sln
  Texassemble/Texassemble_Desktop_2019_Win10.vcxproj
  Texconv/Texconv_Desktop_2019_Win10.vcxproj
  Texdiag/texdiag_Desktop_2019_Win10.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Remove ToolsVersion in vcxproj deprecated after VS 2017
  DDSView/DDSView_Desktop_2019.vcxproj
  DDSView/DDSView_Desktop_2022.vcxproj
  DirectXTex/DirectXTex_Desktop_2019.vcxproj
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj
  DirectXTex/DirectXTex_Desktop_2022.vcxproj
  DirectXTex/DirectXTex_Desktop_2022_Win10.vcxproj
  DirectXTex/DirectXTex_GDKX_2022.vcxproj
  DirectXTex/DirectXTex_GDK_2019.vcxproj
  DirectXTex/DirectXTex_GDK_2022.vcxproj
  Texassemble/Texassemble_Desktop_2019.vcxproj
  Texassemble/Texassemble_Desktop_2019_Win10.vcxproj
  Texassemble/Texassemble_Desktop_2022.vcxproj
  Texassemble/Texassemble_Desktop_2022_Win10.vcxproj
  Texconv/Texconv_Desktop_2019.vcxproj
  Texconv/Texconv_Desktop_2019_Win10.vcxproj
  Texconv/Texconv_Desktop_2022.vcxproj
  Texconv/Texconv_Desktop_2022_Win10.vcxproj
  Texdiag/texdiag_Desktop_2019.vcxproj
  Texdiag/texdiag_Desktop_2019_Win10.vcxproj
  Texdiag/texdiag_Desktop_2022.vcxproj
  Texdiag/texdiag_Desktop_2022_Win10.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Replace backtick with single quote in MSBuild code
  DDSView/DDSView_Desktop_2019.vcxproj
  DDSView/DDSView_Desktop_2022.vcxproj
  DirectXTex/DirectXTex_Desktop_2019.vcxproj
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj
  DirectXTex/DirectXTex_Desktop_2022.vcxproj
  DirectXTex/DirectXTex_Desktop_2022_Win10.vcxproj
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj
  DirectXTex/DirectXTex_GXDK_PC_2022.vcxproj
  DirectXTex/DirectXTex_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml
