Repository microsoft/DirectXTex: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-Test.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, CMake*, build/*.cmake, build/*.in, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, DirectXTex/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/templates/DirectXTex-build-gdk.yml, .azuredevops/templates/DirectXTex-build-gdkx.yml, .azuredevops/templates/DirectXTex-setup-gdk-auto.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Auxiliary/*EXR*, Auxiliary/*JPEG*, Auxiliary/*PNG*
  .azuredevops/pipelines/DirectXTex-GitHub.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub.yml, DirectXTex/Shaders/CompileShaders.cmd

Fix build warning
  Auxiliary/DirectXTexJPEG.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Add missing inl files
  DirectXTex/DirectXTex.inl
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update readme
  README.md
Due: none

Script update
  build/Format.ps1
Due: none

One more workaround
  .github/workflows/test.yml
  .github/workflows/vcpkg.yml
Due: none

Fix for ADO pipeline
  .azuredevops/pipelines/DirectXTex-SDL.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Implement FlipRotate without WIC for non-Windows platforms
  CMakeLists.txt
  DirectXTex/DirectXTex.h
  DirectXTex/DirectXTexFlipRotate.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Bound DDS cubemap counts before face-count conversion
  DirectXTex/DirectXTexDDS.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Bound DDS cubemap counts before face-count conversion (#745)
  DirectXTex/DirectXTexDDS.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Apply clang-format to the non-WIC FlipRotate code
  DirectXTex/DirectXTexFlipRotate.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Remove failing cases due to GHA image changes- #447
  .github/workflows/msbuild.yml
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Remove failing cases due to GHA image changes- #447 (#750)
  .github/workflows/msbuild.yml
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Restore GHAs for x86 now that openjph issue is resolved
  .github/workflows/clangcl.yml
  .github/workflows/test.yml
  .github/workflows/vcpkg.yml
Due: none

Make Remove-Item usage handle locked files
  .github/workflows/arm64.yml
  .github/workflows/clangcl.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  build/PurgeFolder.ps1
Due: none

Remove failing libspng issues
  .github/workflows/vcpkg.yml
Due: none

Work around libspng issue
  .github/workflows/test.yml
  build/vcpkg.json
Due: .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add BC block copy support to CopyRectangle
  DirectXTex/DirectXTexMisc.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Apply clang-format to CopyRectangle BC copy code
  DirectXTex/DirectXTexMisc.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml
