Repository microsoft/DirectXTex: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-Test.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, CMake*, build/*.cmake, build/*.in, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, DirectXTex/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/templates/DirectXTex-build-gdk.yml, .azuredevops/templates/DirectXTex-build-gdkx.yml, .azuredevops/templates/DirectXTex-setup-gdk-auto.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Auxiliary/*EXR*, Auxiliary/*JPEG*, Auxiliary/*PNG*
  .azuredevops/pipelines/DirectXTex-GitHub.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub.yml, DirectXTex/Shaders/CompileShaders.cmd

Fix ARM64 build issue
  .azuredevops/pipelines/DirectXTex-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub-WSL-13.yml
  .azuredevops/pipelines/DirectXTex-GitHub.yml
  DDSView/DDSView_Desktop_2026.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-Test.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

VS 2026 projects (#669)
  .azuredevops/pipelines/DirectXTex-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub-WSL-13.yml
  .azuredevops/pipelines/DirectXTex-GitHub.yml
  .github/linters/actionlint.yml
  .github/workflows/clangcl.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/test.yml
  DDSView/DDSView_Desktop_2026.vcxproj
  DDSView/DDSView_Desktop_2026.vcxproj.filters
  DirectXTex/DirectXTex_Desktop_2026.vcxproj
  DirectXTex/DirectXTex_Desktop_2026.vcxproj.filters
  DirectXTex_Desktop_2026.slnx
  Texassemble/Texassemble_Desktop_2026.vcxproj
  Texassemble/Texassemble_Desktop_2026.vcxproj.filters
  Texconv/Texconv_Desktop_2026.vcxproj
  Texconv/Texconv_Desktop_2026.vcxproj.filters
  Texdiag/texdiag_Desktop_2026.vcxproj
  Texdiag/texdiag_Desktop_2026.vcxproj.filters
  build/CompilerAndLinker.cmake
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-Test.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

Added bit bias when storing R8_UNORM to be consistent with other 8bpp formats
  DirectXTex/DirectXTexConvert.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fix fxc path for non-Visual Studio builds
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Fix fxc path for non-Visual Studio builds (#670)
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Added bit bias when storing R8_UNORM to be consistent with other 8bpp formats (#671)
  DirectXTex/DirectXTexConvert.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

CMake code review
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

CMake code review (#672)
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Fix HDR input validation bug with truncated header
  DirectXTex/DirectXTexHDR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add LoadFromDDSStream{,Ex}()
  Auxiliary/DirectXTexEXR.cpp
  DirectXTex/DirectXTex.h
  DirectXTex/DirectXTexDDS.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Allow ScratchImage to be non-owning
  DirectXTex/DirectXTex.h
  DirectXTex/DirectXTexImage.cpp
  DirectXTex/DirectXTexP.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fix test for supported vs. unsupported orientation
  DirectXTex/DirectXTexHDR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

HDR file input validation fixes (#676)
  DirectXTex/DirectXTexHDR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Unix compilation fixes for EXR
  Auxiliary/DirectXTexEXR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Remove _Use_decl_annotations_ from private method and add SAL annotation
  Auxiliary/DirectXTexEXR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Move LoadFromEXRCommon to private namespace
  Auxiliary/DirectXTexEXR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Added CalculateMipLevels to public API
  DirectXTex/DirectXTex.h
  DirectXTex/DirectXTexDDS.cpp
  DirectXTex/DirectXTexMipmaps.cpp
  DirectXTex/DirectXTexP.h
  Texassemble/texassemble.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Added CalculateMipLevels to public API (#679)
  DirectXTex/DirectXTex.h
  DirectXTex/DirectXTexDDS.cpp
  DirectXTex/DirectXTexMipmaps.cpp
  DirectXTex/DirectXTexP.h
  Texassemble/texassemble.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update DirectXTexEXR.cpp
  Auxiliary/DirectXTexEXR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Add support for LoadFromEXRMemory as other formats (#645)
  Auxiliary/DirectXTexEXR.cpp
  Auxiliary/DirectXTexEXR.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Add Auxiliary to BVT
  .github/workflows/bvt.yml
Due: none

Move BVT for Aux to own action
  .github/workflows/auxbvt.yml
  .github/workflows/bvt.yml
Due: none

texassemble updated with cube-from-mips command
  Texassemble/texassemble.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fix syntax
  .github/workflows/auxbvt.yml
Due: none

Code review
  Texassemble/texassemble.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add Auxiliary to BVT GitHub Action (#681)
  .github/workflows/auxbvt.yml
Due: none

texassemble updated with cube-from-mips command (#682)
  Texassemble/texassemble.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update CoPilot instructions
  .github/copilot-instructions.md
Due: none

Pick markdown lint
  .github/copilot-instructions.md
Due: none

Code review update
  .github/copilot-instructions.md
Due: none

Pick lint
  .github/copilot-instructions.md
Due: none

More content
  .github/copilot-instructions.md
Due: none

Update CoPilot instructions (#683)
  .github/copilot-instructions.md
Due: none

Add support for powerpc64le systems
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Add support for powerpc64le systems (#684)
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Update for CmdLineHelpers.h refactor
  CMakeLists.txt
  Texenvmap/Texenvmap_Desktop_2019.vcxproj
  Texenvmap/Texenvmap_Desktop_2019.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022.vcxproj
  Texenvmap/Texenvmap_Desktop_2022.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj.filters
  Texenvmap/directx.ico
  Texenvmap/settings.manifest
  Texenvmap/texenvmap.cpp
  Texenvmap/texenvmap.rc
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Fix cmake failure
  CMakeLists.txt
  Texenvmap/Shaders/Texenvmap.hlsl
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Update for recent tool improvements
  CMakeLists.txt
  Texenvmap/Shaders/CompileShaders.cmd
  Texenvmap/Shaders/Texenvmap.hlsl
  Texenvmap/Texenvmap_Desktop_2019.vcxproj
  Texenvmap/Texenvmap_Desktop_2019.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022.vcxproj
  Texenvmap/Texenvmap_Desktop_2022.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj.filters
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Started texenvmap tool
  .gitignore
  CMakeLists.txt
  DirectXTex_Desktop_2019.sln
  DirectXTex_Desktop_2019_Win10.sln
  DirectXTex_Desktop_2022.sln
  DirectXTex_Desktop_2022_Win10.sln
  Texenvmap/Shaders/CompileShaders.cmd
  Texenvmap/Shaders/Texenvmap.fx
  Texenvmap/Texenvmap_Desktop_2019.vcxproj
  Texenvmap/Texenvmap_Desktop_2019.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022.vcxproj
  Texenvmap/Texenvmap_Desktop_2022.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj.filters
  Texenvmap/directx.ico
  Texenvmap/settings.manifest
  Texenvmap/texenvmap.cpp
  Texenvmap/texenvmap.rc
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Sync with latest CR
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml
