Repository microsoft/DirectXTex: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-Test.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, CMake*, build/*.cmake, build/*.in, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, DirectXTex/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/templates/DirectXTex-build-gdk.yml, .azuredevops/templates/DirectXTex-build-gdkx.yml, .azuredevops/templates/DirectXTex-setup-gdk-auto.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Auxiliary/*EXR*, Auxiliary/*JPEG*, Auxiliary/*PNG*
  .azuredevops/pipelines/DirectXTex-GitHub.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub.yml, DirectXTex/Shaders/CompileShaders.cmd

Updated for latest changes to command line tools
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

More sync
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

More code review
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update GHA
  .github/workflows/msvc.yml
Due: none

Add VS 2026 project
  DirectXTex_Desktop_2026.slnx
  Texenvmap/Texenvmap_Desktop_2026.vcxproj
  Texenvmap/Texenvmap_Desktop_2026.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add feedback command
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add help and /?
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Remove VS 2019 projects
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml
  .github/workflows/clangcl.yml
  .github/workflows/msbuild.yml
  .nuget/directxtex_desktop_2019.nuspec
  .nuget/directxtex_desktop_2019.targets
  DDSView/DDSView_Desktop_2019.vcxproj
  DDSView/DDSView_Desktop_2019.vcxproj.filters
  DirectXTex/DirectXTex_Desktop_2019.vcxproj
  DirectXTex/DirectXTex_Desktop_2019.vcxproj.filters
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj.filters
  DirectXTex/DirectXTex_GDK_2019.vcxproj
  DirectXTex/DirectXTex_GDK_2019.vcxproj.filters
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj.filters
  DirectXTex_Desktop_2019.sln
  DirectXTex_Desktop_2019_Win10.sln
  DirectXTex_GDK_2019.sln
  DirectXTex_GXDK_PC_2019.sln
  README.md
  Texassemble/Texassemble_Desktop_2019.vcxproj
  Texassemble/Texassemble_Desktop_2019.vcxproj.filters
  Texassemble/Texassemble_Desktop_2019_Win10.vcxproj
  Texassemble/Texassemble_Desktop_2019_Win10.vcxproj.filters
  Texconv/Texconv_Desktop_2019.vcxproj
  Texconv/Texconv_Desktop_2019.vcxproj.filters
  Texconv/Texconv_Desktop_2019_Win10.vcxproj
  Texconv/Texconv_Desktop_2019_Win10.vcxproj.filters
  Texdiag/texdiag_Desktop_2019.vcxproj
  Texdiag/texdiag_Desktop_2019.vcxproj.filters
  Texdiag/texdiag_Desktop_2019_Win10.vcxproj
  Texdiag/texdiag_Desktop_2019_Win10.vcxproj.filters
  build/Directory.Build.props
  build/SetupBWOI.targets
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Remove legacy ToolsVersion
  DirectXTex/DirectXTex_GXDK_PC_2022.vcxproj
  DirectXTex/DirectXTex_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

tex tools updated to support feedback
  Texassemble/texassemble.cpp
  Texconv/texconv.cpp
  Texdiag/texdiag.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

noexcept updates
  Common/CmdLineHelpers.h
  Texassemble/texassemble.cpp
  Texconv/texconv.cpp
  Texdiag/texdiag.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Remove VS 2019 projects (#688)
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml
  .github/workflows/clangcl.yml
  .github/workflows/msbuild.yml
  .nuget/directxtex_desktop_2019.nuspec
  .nuget/directxtex_desktop_2019.targets
  DDSView/DDSView_Desktop_2019.vcxproj
  DDSView/DDSView_Desktop_2019.vcxproj.filters
  DirectXTex/DirectXTex_Desktop_2019.vcxproj
  DirectXTex/DirectXTex_Desktop_2019.vcxproj.filters
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj.filters
  DirectXTex/DirectXTex_GDK_2019.vcxproj
  DirectXTex/DirectXTex_GDK_2019.vcxproj.filters
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj.filters
  DirectXTex/DirectXTex_GXDK_PC_2022.vcxproj
  DirectXTex/DirectXTex_Windows10_2022.vcxproj
  DirectXTex_Desktop_2019.sln
  DirectXTex_Desktop_2019_Win10.sln
  DirectXTex_GDK_2019.sln
  DirectXTex_GXDK_PC_2019.sln
  README.md
  Texassemble/Texassemble_Desktop_2019.vcxproj
  Texassemble/Texassemble_Desktop_2019.vcxproj.filters
  Texassemble/Texassemble_Desktop_2019_Win10.vcxproj
  Texassemble/Texassemble_Desktop_2019_Win10.vcxproj.filters
  Texconv/Texconv_Desktop_2019.vcxproj
  Texconv/Texconv_Desktop_2019.vcxproj.filters
  Texconv/Texconv_Desktop_2019_Win10.vcxproj
  Texconv/Texconv_Desktop_2019_Win10.vcxproj.filters
  Texdiag/texdiag_Desktop_2019.vcxproj
  Texdiag/texdiag_Desktop_2019.vcxproj.filters
  Texdiag/texdiag_Desktop_2019_Win10.vcxproj
  Texdiag/texdiag_Desktop_2019_Win10.vcxproj.filters
  build/Directory.Build.props
  build/SetupBWOI.targets
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

tex tools updated to support feedback (#689)
  Common/CmdLineHelpers.h
  Texassemble/texassemble.cpp
  Texconv/texconv.cpp
  Texdiag/texdiag.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

March 31, 2026
  .nuget/directxtex_desktop_win10.nuspec
  .nuget/directxtex_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXTex/DirectXTex.h
  README.md
  SECURITY.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

March 31, 2026 (#690)
  .nuget/directxtex_desktop_win10.nuspec
  .nuget/directxtex_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXTex/DirectXTex.h
  README.md
  SECURITY.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Fix for SDK ADO pipeline
  .azuredevops/templates/DirectXTex-build-gdk.yml
  .azuredevops/templates/DirectXTex-build-win32.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update copilot instructions
  .github/copilot-instructions.md
Due: none

Fix for SDK ADO pipeline (#691)
  .azuredevops/templates/DirectXTex-build-gdk.yml
  .azuredevops/templates/DirectXTex-build-win32.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fixed code warning
  Auxiliary/DirectXTexEXR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Fix another codeql
  Auxiliary/DirectXTexEXR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Fix HDR out-of-bounds read in RLE decoding
  DirectXTex/DirectXTexHDR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fix HDR out-of-bounds read in RLE decoding (#695)
  DirectXTex/DirectXTexHDR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update project to use arm64 FXC on arm64 native
  .github/workflows/msbuild.yml
  DirectXTex/DirectXTex_Desktop_2022_Win10.vcxproj
  DirectXTex/DirectXTex_Desktop_2026.vcxproj
  DirectXTex/DirectXTex_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Revert project changes
  DirectXTex/DirectXTex_Desktop_2022_Win10.vcxproj
  DirectXTex/DirectXTex_Desktop_2026.vcxproj
  DirectXTex/DirectXTex_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Avoid using x86 HLSL compiler
  DirectXTex/Shaders/CompileShaders.cmd
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

Force correct arch for MSBuild
  .github/workflows/msbuild.yml
Due: none

Update GitHub action for MSBuild on ARM64 native (#696)
  .github/workflows/msbuild.yml
  DirectXTex/Shaders/CompileShaders.cmd
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

CoPilot instruction improvements
  .github/copilot-instructions.md
  DirectXTex/DirectXTex.h
  DirectXTex/scoped.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update GHA to ignore copilot instructions
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
  .github/workflows/auxbvt.yml
  .github/workflows/bvt.yml
  .github/workflows/clangcl.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
  .github/workflows/wsl.yml
Due: none

CoPilot code review
  Auxiliary/DirectXTexJPEG.h
  Auxiliary/DirectXTexPNG.h
  DirectXTex/BC.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

CoPilot instruction improvements (#697)
  .github/copilot-instructions.md
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
  .github/workflows/auxbvt.yml
  .github/workflows/bvt.yml
  .github/workflows/clangcl.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
  .github/workflows/wsl.yml
  Auxiliary/DirectXTexJPEG.h
  Auxiliary/DirectXTexPNG.h
  DirectXTex/BC.h
  DirectXTex/DirectXTex.h
  DirectXTex/scoped.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

CMake update for v4.1 change
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

CMake update for v4.1 change (#698)
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Minor CMake code review
  CMakeLists.txt
  build/JoinPaths.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

A few more edits
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

May 2026
  .nuget/directxtex_desktop_win10.nuspec
  .nuget/directxtex_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXTex/DirectXTex.h
  README.md
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Minor code review feedback
  DirectXTex/DDS.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add script to update vcpkg port
  build/updatevcpkg.ps1
Due: none
