Repository microsoft/DirectXTex: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-Test.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, CMake*, build/*.cmake, build/*.in, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, DirectXTex/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Auxiliary/*EXR*, Auxiliary/*JPEG*, Auxiliary/*PNG*
  .azuredevops/pipelines/DirectXTex-GitHub.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub.yml, DirectXTex/Shaders/CompileShaders.cmd

Removed ARM64 from VS 2019 projects (#644)
  DDSView/DDSView_Desktop_2019.vcxproj
  DDSView/DDSView_Desktop_2022.vcxproj
  DirectXTex/DirectXTex_Desktop_2019.vcxproj
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj
  DirectXTex/DirectXTex_Desktop_2022.vcxproj
  DirectXTex/DirectXTex_Desktop_2022_Win10.vcxproj
  DirectXTex/DirectXTex_GDKX_2022.vcxproj
  DirectXTex/DirectXTex_GDK_2019.vcxproj
  DirectXTex/DirectXTex_GDK_2022.vcxproj
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj
  DirectXTex/DirectXTex_GXDK_PC_2022.vcxproj
  DirectXTex/DirectXTex_Windows10_2022.vcxproj
  DirectXTex_Desktop_2019_Win10.sln
  Texassemble/Texassemble_Desktop_2019.vcxproj
  Texassemble/Texassemble_Desktop_2019_Win10.vcxproj
  Texassemble/Texassemble_Desktop_2022.vcxproj
  Texassemble/Texassemble_Desktop_2022_Win10.vcxproj
  Texconv/Texconv_Desktop_2019.vcxproj
  Texconv/Texconv_Desktop_2019_Win10.vcxproj
  Texconv/Texconv_Desktop_2022.vcxproj
  Texconv/Texconv_Desktop_2022_Win10.vcxproj
  Texdiag/texdiag_Desktop_2019.vcxproj
  Texdiag/texdiag_Desktop_2019_Win10.vcxproj
  Texdiag/texdiag_Desktop_2022.vcxproj
  Texdiag/texdiag_Desktop_2022_Win10.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update for recent tool improvements
  CMakeLists.txt
  Texenvmap/Shaders/CompileShaders.cmd
  Texenvmap/Shaders/Texenvmap.hlsl
  Texenvmap/Texenvmap_Desktop_2019.vcxproj
  Texenvmap/Texenvmap_Desktop_2019.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022.vcxproj
  Texenvmap/Texenvmap_Desktop_2022.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj.filters
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Started texenvmap tool
  .gitignore
  CMakeLists.txt
  DirectXTex_Desktop_2019.sln
  DirectXTex_Desktop_2019_Win10.sln
  DirectXTex_Desktop_2022.sln
  DirectXTex_Desktop_2022_Win10.sln
  Texenvmap/Shaders/CompileShaders.cmd
  Texenvmap/Shaders/Texenvmap.fx
  Texenvmap/Texenvmap_Desktop_2019.vcxproj
  Texenvmap/Texenvmap_Desktop_2019.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022.vcxproj
  Texenvmap/Texenvmap_Desktop_2022.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj.filters
  Texenvmap/directx.ico
  Texenvmap/settings.manifest
  Texenvmap/texenvmap.cpp
  Texenvmap/texenvmap.rc
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Update for CmdLineHelpers.h refactor
  CMakeLists.txt
  Texenvmap/Texenvmap_Desktop_2019.vcxproj
  Texenvmap/Texenvmap_Desktop_2019.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2019_Win10.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022.vcxproj
  Texenvmap/Texenvmap_Desktop_2022.vcxproj.filters
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj
  Texenvmap/Texenvmap_Desktop_2022_Win10.vcxproj.filters
  Texenvmap/directx.ico
  Texenvmap/settings.manifest
  Texenvmap/texenvmap.cpp
  Texenvmap/texenvmap.rc
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Fix cmake failure
  CMakeLists.txt
  Texenvmap/Shaders/Texenvmap.hlsl
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Fix GHA
  .github/workflows/msvc.yml
Due: none

Updated for latest changes to command line tools
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Sync with latest CR
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Code review
  .github/workflows/msvc.yml
Due: none

More sync
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

More code review
  Texenvmap/texenvmap.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update ADO pipeline to use GDK new layouts for 2510
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml
  .azuredevops/templates/DirectXTex-build-gdkx.yml
  .azuredevops/templates/DirectXTex-setup-gdk-auto.yml
  build/Directory.Build.props
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/SetupBWOI.targets
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fix YAML syntax issues
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Handle empty GameDKXboxLatest
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Need some env vars
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update ADO pipeline to use GDK new layouts for 2510 (#649)
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml
  .azuredevops/templates/DirectXTex-build-gdkx.yml
  .azuredevops/templates/DirectXTex-setup-gdk-auto.yml
  CMakeLists.txt
  build/Directory.Build.props
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/SetupBWOI.targets
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Add support for LoadFromEXRMemory as other formats
  Auxiliary/DirectXTexEXR.cpp
  Auxiliary/DirectXTexEXR.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Fix markdown lint
  .github/copilot-instructions.md
Due: none

Update for latest D3DX12
  Common/d3dx12.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Unix compilation fixes for EXR
  Auxiliary/DirectXTexEXR.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Trying super linter 8.3.2
  .github/workflows/lint.yml
Due: none

More markdown lint
  .github/copilot-instructions.md
Due: none

ScreenGrab9: Fix a missing return statement
  ScreenGrab/ScreenGrab9.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

CMakePresets code review
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

JSON format
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Added helper scripts
  .gitignore
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

ScreenGrab9: Fix a missing return statement (#659)
  ScreenGrab/ScreenGrab9.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fixed lint
  build/promotenuget.ps1
Due: none

Added some helper scripts (#660)
  .gitignore
  CMakePresets.json
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Update GHA that use VCPKG to support workflow trigger
  .github/workflows/arm64bvt.yml
  .github/workflows/bvt.yml
  .github/workflows/test.yml
  .github/workflows/vcpkg.yml
  .github/workflows/wsl.yml
Due: none

Update GHA that use VCPKG to support workflow trigger (#662)
  .github/workflows/arm64bvt.yml
  .github/workflows/bvt.yml
  .github/workflows/test.yml
  .github/workflows/vcpkg.yml
  .github/workflows/wsl.yml
Due: none

Update for latest D3DX12 (#648)
  Common/d3dx12.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add ADO inventory policy
  .azuredevops/policies/inventory-enablement.yml
  es-metadata.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Support loading yet another DX10 DDS variant with permissive
  DirectXTex/DirectXTexDDS.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Support loading yet another DX10 DDS variant with permissive (#668)
  DirectXTex/DirectXTexDDS.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Improved VS 2026 support
  build/CompilerAndLinker.cmake
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

VS 2026 projects
  .github/linters/actionlint.yml
  .github/workflows/clangcl.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/test.yml
  DDSView/DDSView_Desktop_2026.vcxproj
  DDSView/DDSView_Desktop_2026.vcxproj.filters
  DirectXTex/DirectXTex_Desktop_2026.vcxproj
  DirectXTex/DirectXTex_Desktop_2026.vcxproj.filters
  DirectXTex_Desktop_2026.slnx
  Texassemble/Texassemble_Desktop_2026.vcxproj
  Texassemble/Texassemble_Desktop_2026.vcxproj.filters
  Texconv/Texconv_Desktop_2026.vcxproj
  Texconv/Texconv_Desktop_2026.vcxproj.filters
  Texdiag/texdiag_Desktop_2026.vcxproj
  Texdiag/texdiag_Desktop_2026.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Removed _Win10 from name
  .github/workflows/msbuild.yml
Due: none

Fix GHA break
  .github/workflows/test.yml
Due: none
