Repository microsoft/DirectXTex: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

.azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml:
  schedules:
  - cron: 0 4 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: CMAKE_BUILD
    displayName: CMake using VS Generator
    steps:
    - checkout: self
      clean: true
  ...

.azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

.azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: VCPKG_BUILD
    displayName: Build with MSBuild+VCPKG
    steps:
    - checkout: self
      clean: true
  ...

Lint Markdown
  .github/workflows/wsl.yml
  CHANGELOG.md
  README.md
  SECURITY.md
Due: none

reformat source for helper folders
  .github/linters/editorconfig-checker.json
  Common/CmdLineHelpers.h
  DDSTextureLoader/DDSTextureLoader11.cpp
  DDSTextureLoader/DDSTextureLoader11.h
  DDSTextureLoader/DDSTextureLoader12.cpp
  DDSTextureLoader/DDSTextureLoader12.h
  DDSTextureLoader/DDSTextureLoader9.cpp
  DirectXTex/DirectXTex.inl
  ScreenGrab/ScreenGrab11.cpp
  ScreenGrab/ScreenGrab12.cpp
  ScreenGrab/ScreenGrab9.cpp
  WICTextureLoader/WICTextureLoader11.cpp
  WICTextureLoader/WICTextureLoader11.h
  WICTextureLoader/WICTextureLoader12.cpp
  WICTextureLoader/WICTextureLoader12.h
  WICTextureLoader/WICTextureLoader9.cpp
  WICTextureLoader/WICTextureLoader9.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

More source reformat
  Auxiliary/DirectXTexEXR.cpp
  Auxiliary/DirectXTexJPEG.cpp
  Auxiliary/DirectXTexPNG.cpp
  Auxiliary/DirectXTexXbox.h
  DirectXTex/BC6HBC7.cpp
  DirectXTex/BCDirectCompute.cpp
  DirectXTex/DirectXTex.h
  DirectXTex/DirectXTexCompress.cpp
  DirectXTex/DirectXTexConvert.cpp
  DirectXTex/DirectXTexUtil.cpp
  DirectXTex/DirectXTexWIC.cpp
  Texassemble/texassemble.cpp
  Texconv/texconv.cpp
  Texdiag/texdiag.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

More YAML lint
  .azuredevops/pipelines/DirectXTex-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml
  .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml
  .azuredevops/pipelines/DirectXTex-GitHub.yml
  .azuredevops/pipelines/DirectXTex-OneFuzz.yml
  .azuredevops/pipelines/DirectXTex-SDL.yml
  .azuredevops/policies/approvercountpolicy.yml
  .azuredevops/templates/DirectXTex-build-gdk.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/msbuild.yml
  .github/workflows/test.yml
  .github/workflows/vcpkg.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

More format
  .github/linters/.yaml-lint.yml
  .github/linters/editorconfig-checker.json
  .github/workflows/vcpkg.yml
  DirectXTex/BC6HBC7.cpp
  DirectXTex/DDS.h
  DirectXTex/DirectXTexDDS.cpp
  DirectXTex/Shaders/BC6HEncode.hlsl
  DirectXTex/Shaders/BC7Encode.hlsl
  DirectXTex/filters.h
  README.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Final bits of lint
  .github/linters/editorconfig-checker.json
  DirectXTex/DirectXTexDDS.cpp
  DirectXTex/Shaders/BC6HEncode.hlsl
  README.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fix build break
  .github/linters/editorconfig-checker.json
  DirectXTex/Shaders/BC6HEncode.hlsl
Due: .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Another attempt to exclude d3dx12.h
  .github/linters/editorconfig-checker.json
Due: none

Fixed rule file name
  .github/linters/.editorconfig-checker.json
Due: none

linter rule teweak
  .github/linters/.yaml-lint.yml
Due: none

One more tweak
  .github/workflows/msbuild.yml
Due: none

Missed msbuild in #617
  .github/workflows/msbuild.yml
Due: none

windows-2022 runner missing v142 specture libs
  .github/workflows/msbuild.yml
Due: none

Fix break
  .github/workflows/msbuild.yml
Due: none

Code review
  .github/workflows/lint.yml
Due: none

line endings for yaml
  .gitattributes
  .github/linters/.yaml-lint.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Slim doesn't support powershell lint
  .github/linters/.powershell-psscriptanalyzer.psd1
  .github/workflows/lint.yml
  build/onefuzz-setup.ps1
Due: none

Add YML to editorconfig
  .editorconfig
Due: .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

July 2, 2025
  .nuget/directxtex_desktop_2019.nuspec
  .nuget/directxtex_desktop_win10.nuspec
  .nuget/directxtex_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXTex/DirectXTex.h
  README.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

July 2, 2025 (#622)
  .nuget/directxtex_desktop_2019.nuspec
  .nuget/directxtex_desktop_win10.nuspec
  .nuget/directxtex_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXTex/DirectXTex.h
  README.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

GitHub Actions using Windows on ARM64 native
  .github/linters/actionlint.yml
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
Due: none

Update GDK pipelines for latest packages
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

PS1 lint
  build/RestoreGDK.ps1
Due: none

windows-2019 image being retired for ADO
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml
  .azuredevops/pipelines/DirectXTex-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTex-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

windows-2022 image is missing v142 spectre-mitigated libraries
  .azuredevops/pipelines/DirectXTex-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTex-GitHub.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Code review
  build/RestoreGDK.ps1
Due: none

Add CoPilot instructions
  .github/copilot-instructions.md
Due: none

Markdown lint
  .github/copilot-instructions.md
Due: none

More CR
  .github/copilot-instructions.md
Due: none

GHA and ADO pipeline updates (#623)
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml
  .azuredevops/pipelines/DirectXTex-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTex-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub.yml
  .github/copilot-instructions.md
  .github/linters/actionlint.yml
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

CMake updates
  CMakeLists.txt
  DirectXTex/DirectXTexP.h
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

CMake updates (#626)
  CMakeLists.txt
  DirectXTex/DirectXTexP.h
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update CoPilot instructions
  .github/copilot-instructions.md
  .gitignore
Due: .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fix markdown lint
  .github/copilot-instructions.md
Due: none

Table usage
  .github/copilot-instructions.md
Due: none

copilot update
  .github/copilot-instructions.md
Due: none

windows-2022 removed 10.0.22000.0
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTex-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTex-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTex-OneFuzz.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Added /profile option to CMake
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Path conditions:
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, CMake*, build/*.cmake, build/*.in, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, DirectXTex/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
