Repository microsoft/DirectXTex: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-Test.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, CMake*, build/*.cmake, build/*.in, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, DirectXTex/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/templates/DirectXTex-build-gdk.yml, .azuredevops/templates/DirectXTex-build-gdkx.yml, .azuredevops/templates/DirectXTex-setup-gdk-auto.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Auxiliary/*EXR*, Auxiliary/*JPEG*, Auxiliary/*PNG*
  .azuredevops/pipelines/DirectXTex-GitHub.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub.yml, DirectXTex/Shaders/CompileShaders.cmd

Add complete release
  build/completerelease.ps1
Due: none

Fix shader output path quoting for paths containing spaces
  DDSView/hlsl.cmd
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Code review
  build/updatevcpkg.ps1
Due: none

Pick powershell lint
  .github/linters/.powershell-psscriptanalyzer.psd1
  build/completerelease.ps1
Due: none

Updates
  .github/copilot-instructions.md
  build/updatewinget.ps1
Due: none

pick lint
  .github/copilot-instructions.md
Due: none

Pick lint
  .github/copilot-instructions.md
Due: none

Fix typo
  .github/copilot-instructions.md
Due: none

COde review
  build/preparerelease.ps1
Due: none

COde review
  build/promotenuget.ps1
Due: none

Add clang GHA coverage for linux
  .github/workflows/wsl.yml
Due: none

Update CMake BULID_SHARED_LIBS=ON linker settings
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Cmake update
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Add policy file
  .azuredevops/policies/branchClassification.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Pick yaml lint
  .azuredevops/policies/branchClassification.yml
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Convert release instructions to CoPilot skill
  .github/copilot-instructions.md
  .github/skills/release/SKILL.md
  .github/workflows/codeql.yml
  .github/workflows/msvc.yml
  .gitignore
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Pick lint
  .github/skills/release/SKILL.md
Due: none

Code review
  .github/skills/release/SKILL.md
  .github/skills/release/assets/vcpkgdxtex.cmd
Due: none

More code review
  .github/skills/release/SKILL.md
Due: none

Code review
  .github/skills/release/SKILL.md
Due: none

Add directxtex-usage skill
  .github/skills/directxtex-usage/SKILL.md
  .github/skills/directxtex-usage/reference/overview.md
Due: none

Move usage skill to public location
  .github/copilot-instructions.md
  README.md
  skills/directxtex-usage/SKILL.md
  skills/directxtex-usage/reference/overview.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update readme
  README.md
  skills/directxtex-usage/SKILL.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

review
  README.md
Due: none

Add more skills
  skills/texture-assembler/SKILL.md
  skills/texture-assembler/reference/examples.md
  skills/texture-assembler/reference/options.md
  skills/texture-converter/SKILL.md
  skills/texture-converter/reference/examples.md
  skills/texture-converter/reference/formats.md
  skills/texture-converter/reference/options.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

More YAML front matter
  .github/copilot-instructions.md
  skills/directxtex-usage/SKILL.md
  skills/texture-assembler/SKILL.md
  skills/texture-converter/SKILL.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add language specifiers to fenced code blocks in skill markdown files
  skills/texture-assembler/SKILL.md
  skills/texture-assembler/reference/examples.md
  skills/texture-converter/SKILL.md
  skills/texture-converter/reference/examples.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add CoPilot skills (#708)
  .github/copilot-instructions.md
  .github/skills/release/SKILL.md
  .github/skills/release/assets/vcpkgdxtex.cmd
  .github/workflows/codeql.yml
  .github/workflows/msvc.yml
  .gitignore
  README.md
  skills/directxtex-usage/SKILL.md
  skills/directxtex-usage/reference/overview.md
  skills/texture-assembler/SKILL.md
  skills/texture-assembler/reference/examples.md
  skills/texture-assembler/reference/options.md
  skills/texture-converter/SKILL.md
  skills/texture-converter/reference/examples.md
  skills/texture-converter/reference/formats.md
  skills/texture-converter/reference/options.md
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fix warnings when upgraded to clang 22
  CMakeLists.txt
  DirectXTex/DirectXTexP.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Code review
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Fix warnings when upgraded to clang 22 (#709)
  CMakeLists.txt
  DirectXTex/DirectXTexP.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Update MinGW GitHub action to cover more compiler versions
  .github/copilot-instructions.md
  .github/workflows/mingw.yml
  README.md
Due: none

Pick lint
  .github/workflows/mingw.yml
  README.md
Due: none

Update readme
  README.md
Due: none

Add GitHub Action for MacOS
  .github/workflows/macos.yml
Due: none

Fix GHA
  .github/copilot-instructions.md
  .github/workflows/macos.yml
Due: none

Update copilot instr
  .github/copilot-instructions.md
Due: none

Migrate all VS solutions to slnx
  .azuredevops/templates/DirectXTex-build-gdk.yml
  .azuredevops/templates/DirectXTex-build-gdkx.yml
  .azuredevops/templates/DirectXTex-build-uwp.yml
  .azuredevops/templates/DirectXTex-build-win32.yml
  .github/workflows/msbuild.yml
  DirectXTex_Desktop_2022.sln
  DirectXTex_Desktop_2022.slnx
  DirectXTex_Desktop_2022_Win10.sln
  DirectXTex_Desktop_2022_Win10.slnx
  DirectXTex_Desktop_2026.slnx
  DirectXTex_GDKX_2022.sln
  DirectXTex_GDKX_2022.slnx
  DirectXTex_GDK_2022.sln
  DirectXTex_GDK_2022.slnx
  DirectXTex_GXDK_PC_2022.sln
  DirectXTex_GXDK_PC_2022.slnx
  DirectXTex_Windows10_2022.sln
  DirectXTex_Windows10_2022.slnx
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml
