Repository microsoft/DirectXTex: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-Test.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTex-GitHub.yml

.azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml:
  schedules:
  - cron: 0 4 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: CMAKE_BUILD
    displayName: CMake using VS Generator
    steps:
    - checkout: self
      clean: true
  ...

.azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml:
  schedules:
  - cron: 0 4 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: CMAKE_BUILD_VS
    displayName: CMake using VS Generator
    steps:
    - checkout: self
      clean: true
  ...

.azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

.azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml:
  schedules:
  - cron: 30 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (Gaming.*.x64)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTex-GitHub-GDK.yml:
  schedules:
  - cron: 30 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTex-GitHub-Test.yml:
  schedules:
  - cron: 30 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

.azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: VCPKG_BUILD
    displayName: Build with MSBuild+VCPKG
    steps:
    - checkout: self
      clean: true
  ...

texconv: added cases where BC4/BC5 need to decompress to 4 channels
  Texconv/texconv.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Code review
  Texconv/texconv.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Use an absolute path for CompileShaders.cmd
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
Due: none

texconv: added cases where BC4/BC5 need to decompress to 4 channels (#723)
  Texconv/texconv.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Pin GitHub Actions to full-length commit SHAs (#731)
  .github/dependabot.yml
Due: none

Use an absolute path for CompileShaders.cmd (#730)
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Delete DirectXTex/DirectXTex_Desktop_2019.vcxproj
  DirectXTex/DirectXTex_Desktop_2019.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Delete DirectXTex/DirectXTex_Desktop_2019.vcxproj.filters
  DirectXTex/DirectXTex_Desktop_2019.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Delete DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Delete DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj.filters
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Delete DirectXTex/DirectXTex_GDK_2019.vcxproj
  DirectXTex/DirectXTex_GDK_2019.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Delete DirectXTex/DirectXTex_GDK_2019.vcxproj.filters
  DirectXTex/DirectXTex_GDK_2019.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Delete DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Delete DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj.filters
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Revert all vcxproj changes
  DirectXTex/DirectXTex_Desktop_2019.vcxproj
  DirectXTex/DirectXTex_Desktop_2019.vcxproj.filters
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj
  DirectXTex/DirectXTex_Desktop_2019_Win10.vcxproj.filters
  DirectXTex/DirectXTex_Desktop_2022.vcxproj
  DirectXTex/DirectXTex_GDK_2019.vcxproj
  DirectXTex/DirectXTex_GDK_2019.vcxproj.filters
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj
  DirectXTex/DirectXTex_GXDK_PC_2019.vcxproj.filters
  DirectXTex/DirectXTex_GXDK_PC_2022.vcxproj.filters
  DirectXTex/DirectXTex_Windows10_2022.vcxproj
  DirectXTex/DirectXTex_Windows10_2022.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Code review feedback
  DirectXTex/DirectXTexSwizzle.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Migrate all VS solutions to slnx (#722)
  .azuredevops/templates/DirectXTex-build-gdk.yml
  .azuredevops/templates/DirectXTex-build-gdkx.yml
  .azuredevops/templates/DirectXTex-build-uwp.yml
  .azuredevops/templates/DirectXTex-build-win32.yml
  .github/workflows/msbuild.yml
  DirectXTex_Desktop_2022.sln
  DirectXTex_Desktop_2022.slnx
  DirectXTex_Desktop_2022_Win10.sln
  DirectXTex_Desktop_2022_Win10.slnx
  DirectXTex_Desktop_2026.slnx
  DirectXTex_GDKX_2022.sln
  DirectXTex_GDKX_2022.slnx
  DirectXTex_GDK_2022.sln
  DirectXTex_GDK_2022.slnx
  DirectXTex_GXDK_PC_2022.sln
  DirectXTex_GXDK_PC_2022.slnx
  DirectXTex_Windows10_2022.sln
  DirectXTex_Windows10_2022.slnx
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update DirectXTexSwizzle.cpp
  DirectXTex/DirectXTexSwizzle.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update for latest D3DX12.h
  Common/d3dx12.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Update for latest D3DX12.h (#735)
  Common/d3dx12.h
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Enable use of clang-format
  .clang-format-ignore
  .github/linters/.clang-format
  .github/linters/.editorconfig-checker.json
  .github/workflows/lint.yml
  Auxiliary/DirectXTexXboxImage.cpp
  DDSView/ddsview.cpp
  DirectXTex/BC6HBC7.cpp
  DirectXTex/DirectXTexConvert.cpp
  DirectXTex/DirectXTexDDS.cpp
  DirectXTex/DirectXTexUtil.cpp
  DirectXTex/DirectXTexWIC.cpp
  WICTextureLoader/WICTextureLoader11.cpp
  WICTextureLoader/WICTextureLoader12.cpp
  WICTextureLoader/WICTextureLoader9.cpp
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Preserve some formatting
  Texassemble/texassemble.cpp
  Texconv/texconv.cpp
  Texdiag/texdiag.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Fix complaint
  DirectXTex/DirectXTexUtil.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Add missing inl files
  DirectXTex/DirectXTex.inl
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Workaround for build failure with vcpkg
  .github/workflows/clangcl.yml
Due: none

Another build workaround
  .github/workflows/vcpkg.yml
Due: none

One more workaround
  .github/workflows/test.yml
  .github/workflows/vcpkg.yml
Due: none

Update readme
  README.md
Due: none

Fix build warning
  Auxiliary/DirectXTexJPEG.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml, .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml

Script update
  build/Format.ps1
Due: none

Fix backslash in include for Linux
  DirectXTex/DirectXTexP.h
  ScreenGrab/ScreenGrab11.cpp
  ScreenGrab/ScreenGrab12.cpp
  ScreenGrab/ScreenGrab9.cpp
  Texconv/texconv.cpp
  WICTextureLoader/WICTextureLoader11.cpp
  WICTextureLoader/WICTextureLoader12.cpp
  WICTextureLoader/WICTextureLoader9.cpp
Due: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml, .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml

Path conditions:
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox-Dev17.yml, CMake*, build/*.cmake, build/*.in, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-CMake-Xbox.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Dev17.yml, DirectXTex/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-GDK-Dev17.yml, .azuredevops/templates/DirectXTex-build-gdk.yml, .azuredevops/templates/DirectXTex-build-gdkx.yml, .azuredevops/templates/DirectXTex-setup-gdk-auto.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, DirectXTex/Shaders/CompileShaders.cmd, Auxiliary/*Xbox*
  .azuredevops/pipelines/DirectXTex-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTex-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTex-GitHub-VCPKG.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Auxiliary/*EXR*, Auxiliary/*JPEG*, Auxiliary/*PNG*
  .azuredevops/pipelines/DirectXTex-GitHub.yml: any of: .azuredevops/pipelines/DirectXTex-GitHub.yml, DirectXTex/Shaders/CompileShaders.cmd
